<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Costa Rican Images  </div>
    <img src="https://www.google.com/search?q=costa+rica+flag+emoji&tbm=isch&ved=2ahUKEwjMiojs4pHoAhUSQDABHYwzAp8Q2-cCegQIABAA&oq=costa+rica+flag+em&gs_l=img.1.0.35i39j0i30l2j0i5i30j0i8i30.7461.7820..8979...0.0..0.176.465.0j3......0....1..gws-wiz-img.......0.BP3iEOJDqdY&ei=QIJoXszqM5KAwbkPjOeI-Ak&bih=674&biw=1536#imgrc=aBWffC957RM0AM">
    <p>
      Use images of <strong>Beaches</strong>, <strong>Volcanos</strong>, <strong>Forests</strong> , or
      all three!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
